.totaly{
    max-width: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.title{
    position: relative;

    font-family: cursive;
    text-shadow: 1px 1px 5px gray;
    animation-name: title;
    animation-duration: 2s;

    @keyframes title{
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
}
.window1{
    font-size: 50px;
}
.width{
    position: relative;
    font-size: 25px;

}
.height{
    position: relative;
    font-size: 25px;
    margin-top: -9%;
}
.inches{
    position: relative;
    font-size: 25px;
    margin-top: -9%;
}
.button{
    font-size: 40px;
    border-radius: 10px;

    &:hover{
        background-color: lightblue;
        color: white;
        box-shadow:1px 1px 10px gray;
    }
}



.inputArea{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    
    & .inputDiv{
        padding: 10px;
        border: solid black;
        border-radius: 5px;
        
        & .label{
            display: inline;
            // width: 70%;
        }
        
        & input{
            position: relative;
            width: 90%;
            // border-radius: 10px;
            font-size: 25px;
        }
    }
}
